#tableContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tableContainer div{
    font-size: 2vw;
    text-align: center;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

#table{
    font-size: 1.125vw;
}

#problemSet{
    font-size: 1vw;
}

#codeContainer{
    width: 80vw;
    border-radius: 24px;
    margin: 0 auto;
    padding-left: 3vw;
}

#problemTitle{
    padding-left: 3vw;
    padding-top: 5vh;
    font-size: 1.5vw;
}

#codeSpace{
    font-size: 1.125vw;
}

@media screen and (max-width: 720px){

    #tableContainer div{
        margin-top: 3vh;
        font-size: 4.25vw;
        border-left: 0.25px black solid;
        border-right: 0.25px black solid;
    }
    
    #table{
        font-size: 4vw;
    }
    
    #problemSet{
        font-size: 4vw;
    }
    
    #codeContainer{
        width: 95vw;
        border-radius: 24px;
        margin: 0 auto;
    }
    
    #problemTitle{
        padding-left: 3vw;
        padding-top: 5vh;
        font-size: 5vw;
    }
    
    #codeSpace{
        font-size: 3.5vw;
    }
}